<div class="foods-btn">
  <h2><%= @inventory.name %></h2>
  <%= link_to 'Add Food', new_inventory_inventory_food_path %>
</div>
<% if @foods.empty? %>
<p>No foods yet. here is the iventory decription though!</p>
<p> <%= @inventory.description %></p>
<% else %>
<table class="table table-hover table-striped table-bordered">
  <thead class="bg-color">
    <tr>
      <th scope="col">Food</th>
      <th scope="col">Quantity</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @foods.each do |food| %>
      <tr>
        <td><%= food.food %></td>
        <td><%= 0 %></td>
        <td>
        <% if can? :destroy, food %>
          <%= button_to "Delete Food", food, method: :delete, class:"btn btn-danger"%>
        <% end %>
        </td>
</tr>
    <% end %>
  </tbody>
</table>
<% end %>