<div class="foods-btn">
  <h2>Recipe List</h2>
  <%= link_to 'Add Recipe', new_recipe_path %>
</div>
<% if @recipes.empty? %>
  <p class="no-food">No recipies added yet. Please use the button above ☝️ to add a new recipe</p>
<% else %>
<div> 
  <ul class= "list-unstyled align-items-center d-flex flex-column align-items-center w-75">
    <% @recipes.each do |rec| %>
      <li class="card mb-3 w-100 mt-4 shadow-lg p-3 bg-light rounded" >
      <%= link_to recipe_path(rec.id), style:"text-decoration: none; color: black" do %>
        <div>
          <div class="row g-0">
            <div class="col-md-5">
              <h4 class="card-title text-muted"><%= rec.name %></h4>
              <% if can? :destroy, rec %>
                <%= link_to 'Remove', rec, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' },
                class: "btn btn-outline-danger", type:"button" %>
              <% end %>
            </div>
            <div class="col-md-7">
              <div class="card-body">
                <p class="card-text"><%= rec.description %></p>
              </div>
            </div>
          </div>
        </div>
      </li>
    <% end %>
    <% end %> 
  </ul>
</div>
<% end %>