<div  class="form-heading">
  <h2>Log in</h2>
  <hr>
</div>

<div class="form-group">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.email_field :email, autocomplete: "email", placeholder: "Email" %>
  </div>

  <div class="field">
    <%= f.password_field :password, placeholder: "Password" %>
  </div>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
  <div class="extras">
    <%= render "devise/shared/links" %>
  </div> 
<% end %>
</div>
